{% extends 'base.html.twig' %}

{% block body %}

<h2> Fondue de camembert </h2>
<table>
    <tbody>
        <tr>
        <td>
            <div class="card border-primary mb-3" style="max-width: 15rem;">
                <div class="card-header">Information</div>
                    <div class="card-body">
                        <h4 class="card-title">Temps 17 min</h4>
                        <h4 class="card-title">Personnes 4</h4>
                        <h4 class="card-title">Niveau Très facile;</h4>
                    </div>
            </div>        
        </td>
        <td>
        </td>
        <td>
            <div class="card border-primary mb-3" style="max-width: 15rem;">
                <div class="card-header">Produits</div>
                <div class="card-body">
                    <h4 class="card-title">1 camembert dans une boîte en bois</h4>
                </div>
            </div>        
        </td>
        </tr>
    </tbody>
</table> 

<h3> Méthode: </h3>

<ol>
  <li>Il vous suffit d'oter l'emballage du camembert et de remettre celui-ci dans sa boite en bois en otant le couvercle (côté étiquette).</li>
  <li>En été : Deposer le tout sur votre grill de barbecue... (sans flammes).</li>
  <li>En hiver : Le déposer sur une plaque électrique position MINIMUM (1)...</li>
  <li>Tout doucement, regarder votre camembert gonfler jusqu'à ce qu'il vous semble pret à éclater.</li>
  <li>A la pointe d'un couteau tailler sur le dessus une croix.</li>
  <li>Ouvrez et trempez y des morceaux de pains ou de pommes de terre (cuites au préalable).</li>
</ol>

{% endblock %}