{% extends 'base.html.twig' %}
{% block stephane %}{% endblock %} 
{% block body %}


  {% block javascript %}

<script>

  function buttonClickGET()(function (data){
           console.log(data);
           //console.log(data.codeResult.code);
           code=data.codeResult.code;
           var getJSON = function(url, callback) {
           var xhr = new XMLHttpRequest();
           xhr.open('GET', url, true);
           xhr.responseType = 'json';

           xhr.onload = function() {
               var status = xhr.status;
               if (status == 200) {
                   callback(null, xhr.response);
               } else {
                   callback(status);
               }
           };
           xhr.send();
       };

       getJSON('https://world.openfoodfacts.org/api/v0/product/'+code+'.json',  function(err, data) {

           if (err != null) {
              //²² alert("Le scanne a échoué !");
               console.error(err);              

           } else {
                code=data.code
                nom=data.product.product_name 
                document.write('test');
              
           }
       }); 
         
          });
          </script>
       
{% endblock %}
            
         


<h2> Mes recettes </h2>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <a href="{{ path('daily_fridge_Info_Recette') }}" onclick ="alert('buttonClickGET');">  Fondue de camembert </a>
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Gulab Jamun
    <span class="badge badge-primary badge-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Pani puri
    <span class="badge badge-primary badge-pill"></span>
  </li>
</ul>

{% endblock %}